<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzr.mapper.AuthMapper">
    <insert id="addUrlRole" keyProperty="id" useGeneratedKeys="true">
        insert into url_map(url, role) values (#{url},#{role})
    </insert>
    <select id="getAllRoles" resultType="java.lang.String">
        select distinct role from url_map
    </select>
</mapper>